


.body-content {
    min-width: 1200px;
    width: auto;
    /*margin: 2% 10% 2% 10%;*/
    padding: 5px;
    overflow: auto;
}

.card-label {
    text-align: right;
    padding: 6px;
}

.card-textbox {
    text-align: left;
}


.CompletedRowStyle {
    background-color: #e3f1c7;
    font-size: 11px;
    /* padding-right: 12px;
    text-align: left;
    color: #666666;
       */
}

.RegAndError {
    background-color: #ffc6bf;
    font-size: 11px;
    /* padding-right: 12px;
    text-align: left;
    color: #FFFFFF;
       */
}

.RegAndCorrected {
    background-color: #fff7b4;
    font-size: 11px;
    /* padding-right: 12px;
    text-align: left;
    color: #666666;
*/
}

.SEDO {
    background-color: #ededed;
    font-size: 11px;
}
.SEDO2 {
    background-color: #eedfdf;
    font-size: 11px;
}

.DGIGridStyleHeader {
    background-image: url(../Images/tr_back.png);
    background-size: contain;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.lb {
    text-decoration: none;
    text-align: center;
    padding: 4px 10px;
    border: solid 1px #360000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 13px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #E5FFFF;
    background-color: #cf3434;
    background-image: -moz-linear-gradient(top, #cf3434 0%, #910a0a 100%);
    background-image: -webkit-linear-gradient(top, #cf3434 0%, #910a0a 100%);
    background-image: -o-linear-gradient(top, #cf3434 0%, #910a0a 100%);
    background-image: -ms-linear-gradient(top, #cf3434 0%,#910a0a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#910a0a', endColorstr='#910a0a',GradientType=0 );
    background-image: linear-gradient(top, #cf3434 0%,#910a0a 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.lb:hover {
    padding: 4px 10px;
    border: solid 1px #005072;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 13px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #E5FFFF;
    background-color: #c42f2f;
    background-image: -moz-linear-gradient(top, #c42f2f 0%, #800808 100%);
    background-image: -webkit-linear-gradient(top, #c42f2f 0%, #800808 100%);
    background-image: -o-linear-gradient(top, #c42f2f 0%, #800808 100%);
    background-image: -ms-linear-gradient(top, #c42f2f 0%,#800808 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#800808', endColorstr='#800808',GradientType=0 );
    background-image: linear-gradient(top, #c42f2f 0%,#800808 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

    .lb:active {
        padding: 5px 11px;
        border: solid 1px #005072;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font: 13px Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #E5FFFF;
        background-color: #cf3434;
        background-image: -moz-linear-gradient(top, #cf3434 0%, #910a0a 100%);
        background-image: -webkit-linear-gradient(top, #cf3434 0%, #910a0a 100%);
        background-image: -o-linear-gradient(top, #cf3434 0%, #910a0a 100%);
        background-image: -ms-linear-gradient(top, #cf3434 0%,#910a0a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#910a0a', endColorstr='#910a0a',GradientType=0 );
        background-image: linear-gradient(top, #cf3434 0%,#910a0a 100%);
        -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    }

A {
    color: #17264a; 
}

    A:visited 
    {
        color: #17264a;
    }

    A:active 
    {
        font-weight: bold;
        color: #17264a;
    }


div.legenddiv {
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: 1px;
    margin-top: -180px;
    margin-bottom: 15px;
    text-align: left;
    width: 270px;
}

div.filtrdiv {
    border: 1px solid #ccc;
    margin-right: auto;
    margin-top: auto;
    margin-left: 1px;
    margin-bottom: 15px;
    text-align: left;
    width: 270px;
    padding: 5px;
}

div.text-center
{
    margin: auto;
}

table1 {
    width: 100%; /* Ширина таблицы */
    height: 100px;
    border-style: solid;
    border-color: black;
}

td1 {
    vertical-align: top; /* Выравнивание по верхнему краю ячеек */
}

.grid {
    display: table;
}